# yaml syntax: https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
GOOGLE:
    CREDS_FILE:
    SCOPES:
        - https://www.googleapis.com/auth/gmail.compose
        - https://www.googleapis.com/auth/drive
INPUT:
    event: 1qWTjaUDtrAHYKqyu1aZoSR3yVK2LHFEap1WgfgcSX6c
POSTER:
    cache:
      local_path: /tmp/whitepaper_journal/
      avatars: 1qGo3opGOS8rdcsr3Fc7j79y_LnWPxNvC
      template: 1cEOHqziwd_7rLWrWwfR21SHL3srPyRz1
    img_style:
      avatar: # circled thumbnail
        start: [150, 300]
        size: [165, 165]
    txt_style:
      topic:
        start: [90, 40]
        x_max: 690
        gap: 2
        font:
          type: impact
          size: 50
        fill: [219, 232, 252, 255]
      datetime:
        start: [150, 1]
        x_max: 720
        gap: 0
        font:
          type: arial
          size: 45
        fill: [144, 159, 184, 255]
      session_name:
        start: [150, 75]
        x_max: 720
        gap: 0
        font:
          type: impact
          size: 48
        fill: [219, 232, 252, 255]
      presenter_name:
        start: [350, 350]
        x_max: 780
        gap: 0
        font:
          type: arial-bold
          size: 40
        fill: [219, 232, 252, 255]
      presenter_title:
        start: [350, 410]
        x_max: 750
        gap: 0
        font:
          type: arial
          size: 25
        fill: [144, 159, 184, 255]
      address:
        start: [200, 538]
        x_max: 780
        gap: 1
        font:
          type: arial
          size: 30
        fill: [144, 159, 184, 255]
