template:
input_file:
output_dir:
text_style:
  name:
    x_pos:
    y_pos:
    gap:
    font:
      type:
      size:
    fill:
  date:
    x_pos:
    y_pos:
    gap:
    font:
      type:
      size:
    fill:
